<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img [src] ="settings.logo" [alt]="'logo' + settings.full_name">
    </a>
      <ul class="navbar-nav">
        <ng-container *ngFor="let page of pages" >
          <li class="nav-item">
            <a class="nav-link" (click)="navigateSection(page.name)">{{page?.name}}</a>
          </li>
        </ng-container>
      </ul>
      <div class="social_media">
        <a href="settings.facebook_url"><i class="bi bi-facebook"></i> </a>

        <a href="settings.twitter_url"><i class="bi bi-twitter"></i></a>

        <a href="settings.instagram_url"><i  class="bi bi-instagram"></i></a>


      </div>
    </div>
</nav>
